---
openldap_root_dir: "/data_openldap"

openldap_dotenv_dir: "{{ openldap_root_dir }}/compose_project"

openldap_database_dir: "{{ openldap_root_dir }}/openldap_database"
openldap_config_dir: "{{ openldap_root_dir }}/openldap_config"
openldap_certs_dir: "{{ openldap_root_dir }}/openldap_certs"

openldap_admin_password: "admin"
openldap_config_password: "config"
openldap_organisation: "Example Inc."
openldap_domain: "example.org"
openldap_hostname: "openldap.{{ openldap_domain }}"

openldap_tls: false
openldap_tls_files_in_local: yes
openldap_tls_crt_file: "~/.acme.sh/example.org/fullchain.cer"
openldap_tls_key_file: "~/.acme.sh/example.org/example.org.key"
openldap_tls_ca_crt_file: "~/.acme.sh/example.org/ca.cer"

phpldapadmin_port: 8080
